@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


body {
    font-display: block;
    font-family: 'Josefin Sans';
	color:#282C35;
	background: #F5F5F5;
	
}


#optional{
    display: none;
}


.form-control {
	border-color: #eee;
	min-height: 41px;
	box-shadow: none !important;
}
.form-control:focus {
	border-color: #5cd3b4;
}
.form-control, .btn {        
	border-radius: 3px;
}
.signup-form {
    margin: 0 auto;
    width: 700px;
    color:#282C35;
	
	padding: 30px 0;
}
.signup-form h2 {
	
    margin: 0 0 30px 0;
    color:#282C35;
	display: inline-block;
	padding: 0 30px 10px 0;
	border-bottom: 3px solid #5cd3b4;
}
.signup-form form {
	color:#282C35;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form .form-group row {
	margin-bottom: 20px;
}
.signup-form label {
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
}
.signup-form input[type="checkbox"] {
	position: relative;
	top: 1px;
}
.signup-form .btn {        
    font-size: 16px;
    color:#282C35;
	font-weight: bold;
	background: #5cd3b4;
	border: none;
	margin-top: 20px;
	min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
	background: #41cba9;
	outline: none !important;
}
.signup-form a {
	
    text-decoration: underline;
    color:#282C35;
}
.signup-form a:hover {
    text-decoration: none;
    color:#282C35;
}
.signup-form form a {
	color:#282C35;
	text-decoration: none;
}	
.signup-form form a:hover {
    text-decoration: underline;
    color:#282C35;
}
